In [1]:
import numpy as np
import pandas as pd
from urllib.request import urlopen
import json
import plotly.io as pil
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots
from plotly.validators.scatter.marker import SymbolValidator

import plotly.io as pio
pio.renderers.default = 'iframe'

In [2]:
iris = px.data.iris()
fig = px.scatter(iris, x = 'petal_width', y = 'petal_length',
                 color = 'species',
                size = 'sepal_length',
                hover_data=['sepal_width'])
fig.show()

In [3]:
tips = px.data.tips()
fig = px.scatter (tips, x = 'total_bill', y ='tip', color = 'sex', facet_row = 'day')
fig.show()

In [4]:
fig = px.scatter (tips, x = 'total_bill', y ='tip', color = 'sex', facet_col = 'day')
fig.show()

In [5]:
t = np.linspace(0,10,100)
y1 = np.random.randn(100).cumsum()
y2 = np.random.randn(100).cumsum()

fig = go.Figure()
fig.add_trace(go.Scatter (x=t, y=y1, name = 'red', mode='markers', marker_color='red'))
fig.add_trace(go.Scatter (x=t, y=y2, name = 'blue', mode='markers', marker_color='blue'))
fig.update_traces(mode ='markers', marker_line_width=1, marker_size=10)
fig.show()

In [6]:
fig = go.Figure(
data = go.Scatter(x= [1,2,3,4,5],
                  y =[11,12,13,14,15],
                  mode = 'markers',
                  marker= dict(size=[20,30,40,50,60], color = [1,2,3,4,5])
                 )
)
fig.show()

In [7]:
gapminder = px.data.gapminder()
gapminder

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716